
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/home">Home</a>
							</li>

						
							<li class="active">User Profile</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						

						<div class="page-header">
							<h1>
								User Profile
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Your Profile
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="space-24"></div>
						<div class="space-24"></div>
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
						

								<div>
									<div id="user-profile-1" class="user-profile row">
										<div class="col-xs-12 col-sm-3 center">
											<div>
												<span class="profile-picture">
													<img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="/images/avatars/avatar_placeholder.jpg" />
												</span>

												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
															<i class="ace-icon fa fa-circle light-green"></i>
															&nbsp;
															<span class="white">
																<%= data_employee.nama %>
															</span>
														</a>

														
													</div>
												</div>
											</div>

										

											

										</div>

										<div class="col-xs-12 col-sm-9">
											

											<div class="space-12"></div>
						
											<div class="profile-user-info profile-user-info-striped">
												<div class="profile-info-row">
													<div class="profile-info-name"> NIK </div>

													<div class="profile-info-value">
														<span class="editable" id="username">
																<%= data_employee.no_karyawan %>
														</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Nama </div>

													<div class="profile-info-value">
															<span class="editable" id="username">
																	<%= data_employee.nama %>
															</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Cabang </div>

													<div class="profile-info-value">
															<span class="editable" id="username">
																	<%= data_employee.cabang %>
															</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Divisi </div>

													<div class="profile-info-value">
															<span class="editable" id="username">
																	<%= data_employee.divisi %>
															</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Departemen </div>

													<div class="profile-info-value">
															<span class="editable" id="username">
																	<%= data_employee.departemen %>
															</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Job </div>

													<div class="profile-info-value">
															<span class="editable" id="username">
																	<%= data_employee.job %>
															</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Posisi </div>

													<div class="profile-info-value">
															<span class="editable" id="username">
																	<%= data_employee.posisi %>
															</span>
													</div>
												</div>

												

												<div class="profile-info-row">
													<div class="profile-info-name"> Level </div>

													<div class="profile-info-value">
														<span class="editable" id="signup">
																<%= level %>
														</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Last Login </div>

													<div class="profile-info-value">
														<span class="editable" id="login"> 
																<%= data_employee.login_time %>
            											</span>
													</div>
												</div>

											
											</div>


											
											

											
										</div>
									</div>
								</div>

								

								

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->