<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="/home">Home</a>
				</li>
				<li class="active">Admin</li>
			</ul>
			<!-- /.breadcrumb -->
			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon"></span>
				</form>
			</div>
			<!-- /.nav-search -->
		</div>
		<div class="page-content">
			<div class="page-header">
				<h1>
                Admin
                
					<small>
						<i class="ace-icon fa fa-angle-double-right"></i>
                  Master Checker
                
					</small>
				</h1>
			</div>
			<!-- /.page-header -->
			<div class="space-24"></div>
			<!-- ============================== FORM ============== -->

			<% if(messages.info) { %>
                <%- messages.info %>
             <% } %>

			<form method="POST" action="/admin/checker" id="checker-form">
				<div class="col-md-11">
					<div class="row">
						<!-- ============================== KIRI ============== -->
						<div class="col-xs-6">
							<div class="row">
								<div class="form-group">
									<div class="col-md-5">
										<label>Kode Cabang : </label>
									</div>
									<div class="col-xs-4">
										<!--  <input type="text" name="kode_cabang" id="kode_cabang" class="form-control" autofocus data-placement="bottom" data-original-title="Input Kode Cabang" minlength="3" maxlength="3"> -->
										<select class="form-control" data-placeholder="Kode Cabang" name="kode_cabang" id="kode_cabang">
											<option value="">- Cabang  -</option>
											<% data_branch.forEach(function(value) { %>
												<option value="<%= value.KODE_CABANG %>"><%= value.KODE_CABANG %> - <%= value.CABANG %></option>
											<% }) %>
										</select>
										<span class="help-block" id="error"></span>
									</div>
								</div>
							</div>
							<div class="space-2"></div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-5">
										<label>Checker : </label>
									</div>
									<div class="col-xs-4">
										<!-- <input type="text" name="checker" id="checker" class="form-control" autofocus data-placement="bottom" data-original-title="Input Nama Checker" minlength="3" maxlength="25" required> -->
										<select class="form-control" data-placeholder="Checker" name="checker" id="checker">
											<option value="">- Checker  -</option>
											<% data_checker.forEach(function(value) { %>
												<option value="<%= value.id_checker %>"><%= value.nama_checker %></option>
											<% }) %>
										</select>
										<span class="help-block" id="error"></span>
									</div>
								</div>
							</div>
							<div class="space-2"></div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-5">
										<label>Validator 1 : </label>
									</div>
									<div class="col-xs-4">
										<!--  <input type="text" name="validator1" id="validator1" class="form-control" autofocus data-placement="bottom" data-original-title="Input Validator 2" minlength="3" maxlength="25" required> -->
										<select class="form-control" data-placeholder="Validator 1" name="validator1" id="validator1">
											<option value="">- Validator 1  -</option>
											<% data_validator.forEach(function(value) { %>
												<option value="<%= value.id_validator %>"><%= value.nama_validator %></option>
											<% }) %>
										</select>
										<span class="help-block" id="error"></span>
									</div>
								</div>
							</div>
							<div class="space-2"></div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-5">
										<label>Validator 2 : </label>
									</div>
									<div class="col-xs-4">
										<!--  <input type="text" name="validator2" id="validator2" class="form-control" autofocus data-placement="bottom" data-original-title="Input Nama Validator 2" minlength="3" maxlength="25" required> -->
										<select class="form-control" data-placeholder="Validator 2" name="validator2" id="validator2">
											<option value="">- Validator 2  -</option>
											<% data_validator.forEach(function(value) { %>
												<option value="<%= value.id_validator %>"><%= value.nama_validator %></option>
											<% }) %>
										</select>
										<span class="help-block" id="error"></span>
									</div>
								</div>
							</div>
							<div class="space-12"></div>
							<div class="row">
								<div class="col-md-5">
                             &nbsp;
                        </div>
								<div class="col-xs-7 text-center">
									<button type="submit" class="btn btn-primary">Simpan</button>
								</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-xs-12">
							<h3 class="header smaller lighter blue text-right"></h3>
							<div class="clearfix">
								<div class="pull-right tableTools-container"></div>
							</div>
							<div class="table-header text-center">
                      List Checker
                    </div>
							<!-- div.table-responsive -->
							<!-- div.dataTables_borderWrap -->
							<div class="dt-buttons btn-overlap btn-group btn-overlap"></div>
							<div class="table-responsive">
								<table id="checker-table" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>No</th>
											<th>Kode Cabang</th>
											<th>Checker</th>
											<th>Validator 1</th>
											<th>Validator 2</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<% var i=1; data_list_checker.forEach(function(value) { %>
										<tr>
											<td><%- i++ %></td>
											<td><%= value.id_cabang %></td>
											<td><%= value.nama_checker %></td>
											<td><%= value.nama_validator1 %></td>
											<td><%= value.nama_validator2 %></td>
											<td>
                                                    <a href="/admin/edit_checker/<%= value.id_master_checker %>" onclick="return confirm('Edit data ini?');">
                                                        <i class="fa fa-pencil text-success"></i></a>&nbsp; | &nbsp;
                                                    <a href="/admin/delete_checker/<%= value.id_master_checker %>" onclick="return confirm('Hapus data ini?');">
                                                        <i class="fa fa-trash text-danger"></i></a>
                                                </td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.page-content -->
	</div>
</div>
<!-- /.main-content --> 