 
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="/home">Home</a>
				</li>
				<li class="active">Admin</li>
			</ul>
			<!-- /.breadcrumb -->
			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon"></span>
				</form>
			</div>
			<!-- /.nav-search -->
		</div>
		<div class="page-content">
			<div class="page-header">
				<h1>
                Admin
                
					<small>
						<i class="ace-icon fa fa-angle-double-right"></i>
                  Master Checker
                
					</small>
				</h1>
			</div>
			<!-- /.page-header -->
			<div class="space-24"></div>
			<!-- ============================== FORM ============== -->
			<form method="POST" action="/admin/edit_master_checker" id="master-checker-form">
				<div class="col-md-11">
					<div class="row">
						<!-- ============================== KIRI ============== -->
						<div class="col-xs-6">
							<div class="space-2"></div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-5">
										<label>Nama Checker : </label>
									</div>
									<div class="col-xs-4">
										<input type="hidden" name="id_checker" value="<%= data.id %>"/>
                                        <input type="text" style="text-transform: capitalize;" name="nama_checker" id="nama_checker" class="form-control" autofocus data-placement="bottom" 
                                        data-original-title="Input Nama Checker" minlength="3" maxlength="25" value="<%= data.nama_checker %>" required>
											<span class="help-block" id="error"></span>
										</div>
									</div>
								</div>
								<div class="space-12"></div>
								<div class="row">
									<div class="col-md-5">
                             &nbsp;
                        </div>
									<div class="col-xs-7 text-center">
										<button type="submit" class="btn btn-success">Edit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->    

